@import "color-themes.scss";


body[data-theme='dark']{
  --clr-bg: #3f3f3f;
  $color-bg: #3f3f3f;
  --clr-border-dot-active: white;
  --clr-filter-card: var(--clr-bg);
  --clr-icon-inactive: white;
  --clr-user-dropdown-bg: rgb(0, 0, 0, 0.7);
  --clr-task-overview-bg: rgb(0, 0, 0, 0.4);
}

body[data-theme='light']{
  --clr-bg: #ececec;
  --clr-border-dot-active: black;
  --clr-filter-card: white;
  --clr-icon-inactive: black;
  --clr-user-dropdown-bg: rgb(255, 255, 255, 0.7);
  --clr-task-overview-bg: rgb(225, 225, 225, 0.55);
}