
@import 'vuetify/lib/styles/main';

@import "scss/card";
@import "scss/misc";

.v-field__clearable
{
    width: auto !important;
}



:root{
    --filter-card-height: 80px;
    --filter-card-margin-bottom: 16px;
    --header-height: 40px;
    //--dock-height: 48px;
    --dock-height: 40px;
}
html{
    ;
}

*::-webkit-scrollbar{
    display: none !important;
}

* {
    scrollbar-width: none;
}



/* HIDE ARROWS IN NUMBER INPUT */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.vue-notification{
    &.new-content{
        background-color: grey;
        border-left-color: rgba(var(--v-theme-primary));

    }
}


.scroller-wrapper {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .scroller{
        height: 100%;
    }
}